<!DOCTYPE html>
<html>
    <head>
        <title> Welcome Page </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/welcome.css">
    </head>
      
    <body style="background-color: #151515">
      <section class="vh-100">
        <!--<div class="lines" style="z-index: 10!important">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>-->
        
        <div class="spotlight"></div>
        <div class="container py-5 h-100">
          <div class="row block-wrap d-flex  justify-content-center">
            <div class="block">I'M</div>
            <div class="block">NOT</div>
            <div class="block">CRAZY.</div>
            <div class="block">MY</div>
            <div class="block">MOTHER</div>
            <div class="block">HAD</div>
            <div class="block">ME</div>
            <div class="block">TESTED.</div>
          </div>
          <div class="imgcontainer row d-flex justify-content-center" style="margin-top: 8%">
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="imgchar col-md-2 col-lg-2 col-xl-2" style=""><img src="https://i.ibb.co/8bXSF44/1.png" style="width:100%; margin-bottom: 2%!important"/><span class="quotes">"No One Is Happier Than I Am To Win The Nobel. But It's Not More Important Than Our Friends."</span></div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
          </div>
          <div class="imgcontainer row d-flex justify-content-center" >
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="imgchar col-md-2 col-lg-2 col-xl-2" style=""><img src="https://i.ibb.co/JkpJ4Tr/2.png" style="width:100%; margin-bottom: 2%!important"/><span class="quotes">"...There Was A Time I Never Would've Been Friends With Someone Like You, And Now You Are One Of My Favorite People."</span></div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
          </div>
          <div class="imgcontainer row d-flex justify-content-center">
            <div class="imgchar col-md-2 col-lg-2 col-xl-2" style=""><img src="https://i.ibb.co/h8GKtZ1/3.png" style="width:100%; margin-bottom: 2%!important"/><span class="quotes">“I Haven't Cried This Hard Since Toy Story 3."</span></div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
          </div>
          <div class="imgcontainer row d-flex align-items-center justify-content-center" >
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-4 col-lg-4 col-xl-4  justify-content-center" style="">
              <img id="img" src="https://static.thenounproject.com/png/1334112-200.png"/> 
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="imgchar col-md-2 col-lg-2 col-xl-2" style=""><img src="https://i.ibb.co/FmDSmqY/4.png" style="width:100%; margin-bottom: 2%!important"/><span class="quotes">"I'm A Horny Engineer, Leonard. I Never Joke About Math Or Sex."</span></div>
          </div>
          <div class="imgcontainerrow d-flex justify-content-center">
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="imgchar col-md-2 col-lg-2 col-xl-2" style=""><img src="https://i.ibb.co/7SnVYdw/7.png" style="width:100%; margin-bottom: 2%!important"/><span class="quotes">"When People Finally Do Notice You, They're Gonna Find Someone A Lot Cooler Than They Thought."</span></div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
          </div>
          <div class="imgcontainer row d-flex justify-content-center" >
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="imgchar col-md-2 col-lg-2 col-xl-2" style=""><img src="https://i.ibb.co/JRWf3r2/5.png" style="width:100%; margin-bottom: 2%!important"/><span class="quotes">"At The Office, I Have Two Assistants! I Don't Even Know Their Names. I Just Call Them Thing 1 and Thing 2."</span></div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
          </div>
          <div class="imgcontainer row d-flex justify-content-center" >
            <div class="imgchar col-md-2 col-lg-2 col-xl-2" style=""><img src="https://i.ibb.co/kXNvLt0/6.png" style="width:100%; margin-bottom: 2%!important"/><span class="quotes">"I'm Not Crazy, My Mother Had Me Tested."</span></div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
            <div class="col-md-2 col-lg-2 col-xl-2" style="">  </div>
          </div>
          
        </div>
      </section>
      
      <script src="../static/js/welcome.js"></script>
    </body>
</html>
